:root {
  --primary-color: #312525;
  --secondary-color: #062d4e;

  --primary-background: #fff;
  --secondary-background: #fafafa;
  --tertiary-background: #ebe1d7;

  --font-size-base: 15px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xlg: 28px;
  --font-size-title-h1: 60px;
  --font-size-title-h2: 48px;

  --primary-font-color: #312525;
  --secondary-font-color: #191919;
  --tertiary-font-color: #fff;
  --quaternary-font-color: #212121;
  --fifth-font-color: #b3a296;
  --sixth-font-color: #141414;
  --seventh-font-color: #808080;
  --eighth-font-color: #717171;
  --ninth-font-color: #353535;

  --primary-hover-color: #415e9b;
  --secondary-hover-color: #554e4e;
  --border-radius: 4px;

  --transition-fast: 0.3s ease;
  --transition-slow: 0.4s ease;
}
